body{
    font-family: 'Space Grotesk', sans-serif;
    padding-top: 1.5%;
    padding-left: 5%;
}
.notFound{
    margin-bottom: 4rem;
}

.container{
    display: flex;
    margin-bottom: 10rem;
}
.image{
    width: 30%;
    padding-top: 70px;
    
}
.message{
    
    text-align: left;
    
    width: 40%;
    padding: 1% 0% 0% 10%;
    margin-left: 50px;
    margin-right: 100px;
    line-height: 1.5em;
    font-family: monospace;
}
.title{
    width: 70%;
    line-height: 1.5em;
    font-size: 3rem;
}

.message2{
    color:slategrey;
    width: 40%;
    font-size: 1rem;
    
}
.btn{
    font-size: 0.5em;
    text-align: center;
    margin: 20px 0px;
    background-color: black;
    color: white;
    width: 150px;
    height: 40px;
}

.footer{
   
    text-align: center;
    color: silver;
    font-weight: 100;
    font-size: smaller;
}
.userLink{
    color: silver;
}

@media (max-width: 800px) {
    .container{
        display: block;
        text-align: center;
    }
    .image{
        width: 250px;
    }
    .message{
        position: relative;
        text-align: left;
        display: block;
        width: 100%;
        padding: 3%;
        margin-right: 10px;
        
    } 
    .message2{
        width: 70%;
    }
  
}
